@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Julee&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
}
header {
  height: 2vh;
  color: wheat;
}

header h2 {
  font-family: "inter", cursive;
  letter-spacing: 0px;
  padding: 5px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 153vh;
}
main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: purple;
}
main section figure {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: solid 2px wheat;
  border-radius: 20px;
  width: 26vw;
  height: 40vh;
  background: #efb41c;
}
figcaption {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
main section img {
  width: 17vw;
  height: 39vh;
}
button {
  height: 10%;
  width: 40%; /*ela falou q estava muito largo, abre em tela cheia, vai ficar certo*/
  border-radius: 10px;
  background-color: #836fff;
  font-size: 120%; /*cuidado, vai ficar muito pequeno, abre em pagina cheia*/
}
button:hover {
  background-color: #00ff7f;
  transform: scale(1.2);
  transition: all 0.5s;
}
